#size {
    background-color: red;
    border: 2px dashed black;
    width: 400px;
    height: 200px;
  }

  #overflow {
    overflow:auto;
    background-color: yellow;
    border: 2px solid black;
    width: 400px;
    height: 200px;
  }

  #background {
    background-image: url("images/logo.png");
    background-position: center;
    background-size: 100px;
    background-repeat:repeat-x;
    background-color: green;
    border: 2px solid black;
    width: 400px;
    height: 200px;
  }

  #border {
    border: 5px dotted red;
    background-color: blue;
    width: 400px;
    height: 200px;
  }

  #radius {
    border-radius: 50px;
    border: 1px solid black;
    background-color: orange;
    width: 400px;
    height: 200px;
  }

